---
import type { PokemonListResponse } from "@intefaces/pokemon-list.response";
import MainLayout from "@layouts/MainLayout.astro";
import Title from "@components/shared/Title.astro";
import PokemonCard from "@components/pokemons/PokemonCard.astro";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=20");
const data = (await resp.json()) as PokemonListResponse;

const title = "Pokémon Static | Home";
---

<MainLayout title={title}>
  <Title>Listado de Pokémons</Title>

  <section
    aria-label="Listado de Pokémons"
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg-grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7 gap-4"
  >
    {data.results.map(({ name, url }) => <PokemonCard name={name} url={url} />)}
  </section>
</MainLayout>
